
{% extends 'base.html' %}
{% block content %}
<body>
    <h2>Reset Your Password</h2>

    {% if token is None %}
        <p>This password reset link is invalid or has expired.</p>
    {% else %}
        <form method="POST">
            {% csrf_token %}
            <label for="password">New Password:</label><br>
            <input type="password" name="password" id="password" required><br><br>

            <label for="password_conf">Confirm New Password:</label><br>
            <input type="password" name="password_conf" id="password_conf" required><br><br>

            <button type="submit">Reset Password</button>
        </form>
    {% endif %}
</body>
{% endblock %}

